.screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.gradient {
    background: linear-gradient(0deg, #f5ce34 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    margin-top: -60px;
    height: 60px;
    width: 100%;
}

.login-container {
    width: 100%;
    max-width: 700px;
    height: 50vh;
    min-height: 400px;
    margin: 0 auto auto auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login h5, input, button {
    margin-bottom: 20px;
}

.form-login h5 {
    font-size: 20px;
}

.form {
    margin-top: -30px;
}